/* Common css start========================= */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    display: inline-block;
}
ul , li{
    list-style: none;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
/* Common css end========================= */

/* NAVBAR CSS START============ */
#navbar{
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
}
.nav-wrap{
    display: flex;
    justify-content: space-between;
}
.nav-logo{
    padding-top: 40px;
    padding-bottom: 40px;
}
.nav-item ul{
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
}
.nav-item ul li{
    padding-left: 30px;
}
.nav-item ul li a{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    transition: all linear 0.5s;
}
.nav-item ul li a:hover{
    color: #c7b299;
}
/* NAVBAR CSS END============ */

/* BANNER CSS START============ */
#banner{
    background: url( ../images/banner.jpg);
    padding: 381px 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
#banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}
.banner-details{
    text-align: center;
}
.banner-details h3{
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #ffffff;
    padding-bottom: 14px;
}
.banner-details h1{
    font-family: 'Raleway', sans-serif;
    font-size: 52px;
    font-weight: 800;
    color: #ffffff;
    padding-bottom: 19px;
}
.banner-details p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
    width: 615px;
    margin: 0 auto;
    line-height: 24px;
    padding-bottom: 52px;
}
.banner-btn button{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #ffffff;
    padding: 20px 40px;
    background:#998675;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 3px 0px 0px #736357;
    text-transform: uppercase;
}
/* BANNER CSS END============ */

/* SERVICE CSS START============ */
#services{
    padding: 80px 0;
}
.service-wrap{
    display: flex;
}
.service-item{
    text-align: center;
    position: relative;
    width: 25%;
}
.service-item:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 70px;
    height: 2px;
    background: #555555;
    transform: translateX(-50%);
}
.service-item i{
    color: #555555;
    font-size: 50px;
    transition: all linear 0.5s;

}
.service-item h4{
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;
    color: #555555;
    padding-top: 20px;
    padding-bottom: 18px;
    transition: all linear 0.5s;
}
.service-item p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    width: 280px;
    padding-bottom: 30px;
}
.service-item:hover i {
    color: #c7b299;
}
.service-item:hover h4 {
    color: #c7b299;
}
.service-item:hover:after{
    background: #c7b299;
}
/* SERVICE CSS END============ */

/* IDEA CSS START============ */
#idea{
    padding-bottom: 85px;
}
.idea-top{
    padding-top: 85px;
    background: #fbfaf8;
}
.common-title{
    text-align: center;
}
.common-title h3{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
    padding-bottom: 20px;
}
.common-title p{
    width: 768px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
    line-height: 28px;
    padding-bottom: 40px;
}
.idea-img img{
    width: 100%;
    display: block;
}
.idea-bottom{
    background: linear-gradient( to right , #241d1a , #4d3327);
    padding: 50px 0;
}
.idea-bottom-left h3{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #ffffff;
    padding-bottom: 15px;
}
.idea-bottom-left h3 span{
    color: #c7b299;
}
.idea-bottom-left p{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: #615855;
}
.idea-bottom-wrap{
    display: flex;
    justify-content: space-between;
}
/* IDEA CSS END============ */

/* PROJECT CSS START============ */
#project{
    padding-bottom: 80px;
}
.project-btn{
    text-align: center;
}
.project-btn a{
    padding: 10px 27px;
    color: #8c8c8c;
    border: 1px solid #ebebeb;
    margin-right: 5px;
    border-radius: 4px;
    transition: all linear 0.5s;
}
.project-btn a:last-child{
    margin-right: 0;
}
.project-btn a:hover{
    color: #ffffff;
    background: #998675;
}
.project-img{
    position: relative;
}
.project-img img{
    display: block;
}

.project-gallery{
    padding-top: 30px;
}
.project-gallery-text{
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 27px;
    background: #fbfaf8;
    position: relative;
    transition: all linear 0.5s;

}
.project-gallery-wrap{
    display: flex;
    justify-content: space-between;
}
.project-gallery-text::after {
    content: '';
    position: absolute;
    top: -14px;
    left: 20px;
    height: 28px;
    width: 28px;
    background: #fbfaf8;
    transform: rotate(45deg);
}
.project-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
}

.project-item:hover .project-img::after{
    opacity: 1;
}
.project-item:hover .project-gallery-text{
    background: #362f2d;
}
.project-item:hover .project-gallery-text::after{
    background: #362f2d;
}
.project-item:hover .project-gallery-text h4{
    color: #ffffff;
}
.project-item:hover .project-gallery-text p{
    color: #c7b299;
}
.project-gallery-text h4{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #c7b299;
    padding-bottom: 10px;
}
.project-gallery-text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #d1d1d1;
}
.project-icon1{
    position: relative;
}
.project-icon1 i {
    position: absolute;
    top: 100px;
    left: 145px;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}
.project-icon2{
    position: relative;
}
.project-icon2 i {
    position: absolute;
    top: 100px;
    left: 200px;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 1;
    font-size: 30px;
    color: #ffffff;
}
.project-icon1:hover i{
    color: #c7b299;
}
.project-icon2:hover i{
    color: #c7b299;
}

.project-btn-bottom{
    padding-top: 30px;
    text-align: center;
}
.project-btn-bottom button{
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 800;
    color: #ffffff;
    padding: 20px 45px;
    background:#998675;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 3px 0px 0px #736357;
}
/* PROJECT CSS END============ */

/* VIDEO CSS START================== */
#video-part{
    background: url( ../images/video-banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 225px 0;
    position: relative;
    z-index: 1;
}
#video-part::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.video-icon{
    text-align: center;
    font-size: 60px;
    color: #ffffff;
    position: relative;
}
.video-icon::after {
    content: '';
    position: absolute;
    top: -17px;
    left: 534px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
}
.video-text{
    text-align: center;
}
.video-text h3{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 500;
    color: #ffffff;
    padding-top: 40px;
    padding-bottom: 17px;
}
.video-text p{
    width: 560px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #ffffff;
}
/* VIDEO CSS END==================== */

/* DEVICE CSS START==================== */
#device{
    padding-top: 80px;
}
.device-wrap{
    display: flex;
}
.device-phone{
    width: 494px;
}
.device-phone img{
    display: block;
    margin: 0 auto;
}
.device-text{
    width: 677px;
    padding-top: 120px;
}
.device-text-top h4{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #555555;
    padding-bottom: 30px;
}
.device-text-top p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
    line-height: 28px;
    padding-bottom: 40px;
}
.device-text-bottom{
    display: flex;
    margin-left: 55px;
    justify-content: space-between;
}
.device-bottom-icon {
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: #c7b299;
    line-height: 21px;
    text-align: center;
}
.device-bottom-icon i{
    color: #ffffff;
}
.device-bottom-icon-text{
    width: 570px;
    padding-bottom: 13px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #8c8c8c;
}
/* DEVICE CSS END==================== */

/* COUNTER CSS START==================== */
#counter{
    background: linear-gradient( to right , #241d1a , #4d3327);
    padding-top: 69px;
    padding-bottom: 61px;
}
.counter-wrap{
    display: flex;
    justify-content: space-around;
}
.counter-item{
    text-align: center;
    position: relative;
}
.counter-item::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 30px;
    height: 2px;
    background: #ffffff;
    transform: translateX(-50%);
}
.counter-item i{
    font-size: 40px;
    color: #c7b299;
    padding-bottom: 20px;
}
.counter-item h4{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    font-weight: 300;
    color: #ffffff;
    padding-bottom: 5px;
}
.counter-item p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #c7b299;
    padding-bottom: 30px;
    text-transform: uppercase;
}
/* COUNTER CSS END==================== */

/* POST PART CSS START============== */
#post-part{
    padding-top: 80px;
    padding-bottom: 80px;
}
.post-gallery-wrap{
    display: flex;
    justify-content: space-between;
}
.post-img img{
    display: block;
}
.post-img{
    position: relative;
    width: 100%;
}
.post-img .overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
}
.post-text{
    padding-top: 30px;
    padding-left: 40px;
    width: 370px;
    transition: all linear 0.5s;
}
.post-text h4{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #555555;
    padding-bottom: 10px;
}
.post-text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #8c8c8c;
    padding-bottom: 20px;
}
.post-text a{
    color: #c7b299;
    padding-bottom: 33px;
}
.calender{
    position: absolute;
    top: 20px;
    left: 12px;
    width: 100%;
    height: 100%;
}
.calender-date{
    width: 50px;
    height: 35px;
    background: #363636;
    border-radius: 4px;
    transition: all linear 0.5s;
}
.calender-month{
    width: 50px;
    height: 25px;
    background: #252525;
    border-radius: 4px;
    transition: all linear 0.5s;
}
.calender-date p{
    text-align: center;
    line-height: 35px;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 300;
}
.calender-month p{
    text-align: center;
    color: #ffffff;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: 400;
}
/* post hover css|=========== */
.post-item:hover .overlay{
    opacity: 1;
}
.post-item:hover .post-text{
    background: #362f2d;
}
.post-item:hover .post-text h4{
    color: #c7b299;
}
.post-item:hover .calender-date{
    background: #c7b299;
}
.post-item:hover .calender-month{
    background: #a48d72;
}
/* slide-icon====== */
.slide-icon{
    text-align: center;
    padding-top: 40px;
}
.slide-icon i{
    height: 21px;
    width: 21px;
    border-radius: 50%;
    background: #ffffff;
    color: #d1d1d1;
    line-height: 21px;
    text-align: center;
    border: 1px solid #d1d1d1;
}
.slide-icon i:hover{
    color: #c7b299;
    border: 1px solid #c7b299;
}
/* POST PART CSS END============== */

/* LAST BANNER CSS START==================== */
#last-banner{
    background: url( ../images/banner-last.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 140px 0;
    position: relative;
    z-index: 1;
}
#last-banner::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: -1;
}
.last-banner-wrap{
    display: flex;
    justify-content: space-around;
}
/* LAST BANNER CSS END==================== */

/* FOOTER CSS START================== */
#footer{
    background: #191919;
    padding: 80px 0;
}
.footer-item{
    display: flex;
    justify-content: space-between;
}
.footer-item1 p{
    width: 265px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    color: #ffffff;
    padding-top: 20px;
}
.footer-item1 a{
    color: #ffffff;
    padding-top: 20px;
}
/* footer item 2=============== */
.footer-item h4{
    padding-top: 13px;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}
.footer-item2-text{
    padding-top: 20px;
    position: relative;
}
.footer-item2-text h6{
    color: #363636;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
}
.footer-item2-text p{
    padding-top: 5px;
    padding-bottom: 20px;
    width: 256px;
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}
.footer-item2-text:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 270px;
    height: 2px;
    background: #252525;
}
.item-p3{
    width: 270px !important;
}
.item-p2{
    width: 270px !important;
}
.footer-item2-text:hover h6{
    color: #ffffff;
}
.footer-item2-text:hover p{
    color: #c7b299;
}
/* footer item 3============ */
.footer-item3-text{
    padding-top: 20px;
    position: relative;
}
.footer-item3-text h6{
    color: #363636;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 300;
    width: 270px;
}
.footer-item3-text p{
    padding-top: 5px;
    padding-bottom: 20px;
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}
.footer-item3-text:after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 270px;
    height: 2px;
    background: #252525;
}
.footer-item3-text h6 span{
    color: #02b4e4;
}
.footer-item3-text h6 .item3-span{
    color: #959595;
}
/* footer item 4=========== */
.footer-item4 h4{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    font-weight: 700;
}
.footer-gallery{
    padding-top: 30px;
}
.footer-gallery img{
    padding-right: 10px;
    padding-bottom: 10px;
}
/* FOOTER CSS END================== */

/* END CSS START================================ */
#end{
    background: #111111;
    padding: 50px 0;
}
.end-text{
    display: flex;
    justify-content: space-between;
}
.end-text p{
    color: #555555;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 300;
}
.end-text span{
    color: #959595;
}
.end-text span:hover{
    color: #c7b299;
}
/* END CSS END================================ */